<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderLust</title>
</head>
<body>
    <h3>You can edit you post </h3>
    <form method="POST" action="/listings/<%=listing._id%>/edit?_method=PUT">
        <input name="title" value="<%=listing.title%>" type="text">
        <br>
        <br>
        <textarea type="textarea" " name="description" cols="50" rows="6"><%=listing.description%></textarea>
        <br>
        <br>
         <input name="image"  value="<%=listing.image.url%>"  type="text">
        <br>
        <br>
         <input name="price" value="<%=listing.price%>" type="number">
        <br>
        <br>
         <input name="location" value="<%=listing.location%>"  type="text">
        <br>
        <br>
         <input name="country"  value="<%=listing.country%>"  type="text">
        <br>
        <br>
         <button>submit</button> 
    </form>
</body>
</html>