<% layout("/layouts/boilerplate") %>
<body>
  <%=success%>
    <h3>all Listings</h3>
    <!-- <form method="get" action="/listings/new">
        <button>create new listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <%for(let i of allListing) { %>
      <a href="/listings/<%= i.id %>" class="listings-link">
   <div class="card col listing-card">
  <img src="<%= i.image.url%>" class="card-img-top"style="height: 20rem; alt="listing image">
  <div class="card-body">
    <p class="card-text"><b><%= i.title%></b>
    <br>
  &#8377;<%= i.price ? i.price.toLocaleString("en-IN") :"1200" %>/night


</p>
  </div>
</div>
</a>
  <% } %>
  </div>
  
</body>